<div class="container">
  <div class="blog-content">
    <h2 class="title"><%= @blog.title %></h2>
      <%= image_tag @blog.image, class: "blog-image" %>
      <p><%= @blog.content %></p>
    <p class="title">Find out more:</p>
    <p class="paragraph"><%= @blog.url %></p>
</div>
