<div class="container">
  <% @blogs.each do |blog| %>
  <h1 class="title"><%= blog.title %></h1>
  <div class="blog-content">
      <%= image_tag blog.image, class: "blog-image-show" %>
      <p><%= blog.content %></p>
    <p class="title">Find out more:</p>
    <p class="paragraph"><%= blog.url %></p>
</div>
<% end %>
