.blog-image {
  height: 15dvh;
  width: 15dvh;
  border-radius: 4%;
  border: 1px solid black;
  object-fit: fit;
}

.blog-content {
  border: 1px solid black;
  margin: 10px;
  padding-left: 10px;
}

.blog-image-show {
  height: 20dvh;
  width: 20dvh;
  background-color: black;
  border-radius: 4%;
  border: 1px solid black;
  object-fit: fit;
}
