.blog-image {
  height: 15dvh;
  width: 15dvh;
  background-color: black;
  border-radius: 4%;
  border: 1px solid black;
  object-fit: fit;
}

.blog-content {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: justify
}

.blog-image-show {
  height: 20dvh;
  width: 20dvh;
  background-color: black;
  border-radius: 4%;
  border: 1px solid black;
  object-fit: fit;
  align-items: center;
}
