<div class="background">
    <div class="landing-text lh-lg">
      <h1>Cr<i class="fa-solid fa-person-dress"></i>mson Map</h1>
    </div>
    <div class="smaller-landing-text" data-controller="get-coordinates" data-get-coordinates-user-value="<%=current_user.id%>">
      <h5>Three women on a mission to make life easier for all women</h5>
      <h6>Made with <i class="fa-solid fa-heart"></i> by Dorothea, Katherine and Paulina</h6>
      <%= link_to "ENTER", home_path, class: "enter-link" %>
    </div>
  </div>
