<div class="container">
  <div class= "text-center title">
    <h1>My profile</h1>
  </div>

<%# trying to create flexbox that allows you to scroll from left to right with reviews %>
    <h2 class="title mt-3">My reviews:</h2>
      <div class="card-container my-1">
        <% if @review.length > 0 %>
          <% @review.each do |review| %>
            <div class="d-flex">
              <div class="facility-background-card">
                <div class="paragraph facility-white-card">
                  <h4><%= review.comment %></h4>
                  <h4><%= review.rating %></h4>
                  <%= link_to review_path(review), class: "card-category-icon", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>





</div>
