.button {
  background-color: $general;
  border: solid $black 2px;
  border-radius: 1px;
  width: 155px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;
  font-family: "Josefine Slab", serif;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
}

.show-btn{
  margin: 20px;
}

.home-btn{
  margin: 20px;
}

.filter-btn {
  border: solid;
  border-radius: 10px;
  border: black;
  margin: 20px;
}

