.facility-background-card {
  border: solid 4px $black;
  background-color: $green;
  border-radius: 2px;
  margin: 5px;
  width: 80dvw;
}

.facility-white-card {
  position: relative;
  background-color: $white;
  border-radius: 2px;
  color: black;
  font-size: 9px;
  margin: 20px;
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facility-info-small-card {
  text-align: center;
}

// background cards

// icons

.fa-star {
  color: $turquoise;
  font-size: 15px;
}

.toilet {
  color: $yellow;
  font-size: 15px;
  margin-top: 10px;
  &.large_icon {
    font-size: 30px;
  }
}

.quiet {
  color: $turquoise;
  font-size: 15px;
  margin-top: 10px;
  &.large_icon {
    font-size: 30px;
  }
}

.education {
  color: $orange;
  font-size: 15px;
  margin-top: 10px;
  &.large_icon {
    font-size: 30px;
  }
}

.baby-change {
  color: $blue;
  font-size: 15px;
  margin-top: 10px;
  &.large_icon {
    font-size: 30px;
  }
}

.sanitary-products {
  color: $red;
  font-size: 15px;
  margin-top: 10px;
  &.large_icon {
    font-size: 30px;
  }
}

.heart {
  font-size: 30px;
  color: $turquoise;
  position: absolute;
  right: 10px;
  top: 8px;
}

.colour-heart {
  font-size: 30px;
  color: $turquoise;
  position: absolute;
  right: 10px;
  top: 8px;
}

// CARD CONTAINER

.card-container {
  display: flex;
  overflow-x: scroll;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//SHOW PAGE CARD

.show-facility-background-card {
  border: solid 3px $black;
  background-color: $green;
  border-radius: 2px;
  margin: 8px;
}

.show-facility-white-card {
  position: relative;
  background-color: $white;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  margin: 8px;
  padding: 10px;
}

.show-small-card-img-top {
  height: 18dvh;
  width: 18dvh;
  border-radius: 4px;
  border: black;
  margin-right: 5px;
}

.show-facility-basic-info {
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
  padding-top: 5px;
}

.show-small-card-reviews {
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
}

.reviews {
  text-align: left;
}
