.facility-background-card {
  border: solid 4px $black;
  background-color: $green;
  border-radius: 2px;
  margin: 20px;
}

.facility-white-card {
  background-color: $white;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  margin: 20px;
  padding: 20px;
}

.fa-star {
  color: $turquoise;
}

.toilet {
  color: $yellow;
}

.quiet {
  color: $turquoise;
}

.education {
  color: $orange;
}

.baby-change {
  color: $blue;
}

.sanitary-products {
  color: $red;
}
.facility-background-card {
  border: solid 4px $black;
  background-color: $green;
  border-radius: 2px;
  margin: 20px;
}

.facility-white-card {
  position: relative;
  background-color: $white;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  margin: 20px;
  padding: 20px;
}

.facility-info-small-card {
  text-align: center;
}


.fa-star {
  color: $turquoise;
}

.toilet {
  color: $yellow;
  font-size: 20px;
  &.large_icon{
    font-size: 40px;
  }
}

.quiet {
  color: $turquoise;
  font-size: 20px;
  &.large_icon{
    font-size: 40px;
  }
}

.education {
  color: $orange;
  font-size: 20px;
  &.large_icon{
    font-size: 40px;
  }
}

.baby-change {
  color: $blue;
  font-size: 20px;
  &.large_icon{
    font-size: 40px;
  }
}

.sanitary-products {
  color: $red;
  font-size: 20px;
  &.large_icon{
    font-size: 40px;
  }
}

.heart {
  font-size: 30px;
  color: $turquoise;
  position: absolute;
  right: 10px;
  top: 8px;
}
.colour-heart {
  font-size: 30px;
  color: $turquoise;
  position: absolute;
  right: 10px;
  top: 8px;
}



// CARD CONTAINER

.card-container {
  display: flex;
  overflow-x: scroll;
}
