.facility-background-card {
  border: solid 4px $black;
  background-color: $green;
  border-radius: 2px;
  margin: 20px;
}

.facility-white-card {
  background-color: $white;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  margin: 20px;
  padding: 20px;
}

.fa-star {
  color: $turquoise;
}

.toilet {
  color: $yellow;
}

.quiet {
  color: $turquoise;
}

.education {
  color: $orange;
}

.baby-change {
  color: $blue;
}

.sanitary-products {
  color: $red;
}
