.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Josefin Slab", "serif";
  font-size: 18px;
  font-weight: 400;
  border: solid 4px black;
  border-radius: 1px;
  height: 180px;
}

.mapboxgl-ctrl-geocoder--input {
  width: 320px;
  border: 4px solid $black;
  height: 60px;
  background-color: #eeeeee;
  margin-top: 5px;
  margin-left: 8px;
}

.mapboxgl-ctrl-geocoder {
  background-color: transparent;
}

.map-small {
  height: 370px;
  width: 97%;
  border: solid $black 4px;
  border-radius: 1px;
  margin: 3px auto;
  display: block;
}

.map-opaque {
  width: 97%;
  height: 350px;
  border: solid 4px $black;
  opacity: 0.7;
  text-align: center;
  border-radius: 1px;
  margin: 3px auto;
  display: block;
}

.map-large {
  width: 97%;
  height: 500px;
  border: solid 4px $black;
  border-radius: 1px;
  margin: 3px auto;
  display: block;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

#map {
  margin-top: 20px;
}

.mapboxgl-canvas {
  object-fit: cover;
}
